$hi: #4580FF;
$lo: #0F45BA;
$event-border-color: #bbb;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@mixin gradient ($start, $end) {
  background-color: $end;
  background-image: url(images/fallback-gradient.png); 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($start), to($end));
  background-image: -webkit-linear-gradient(top, $start, $end); 
  background-image:    -moz-linear-gradient(top, $start, $end);
  background-image:     -ms-linear-gradient(top, $start, $end);
  background-image:      -o-linear-gradient(top, $start, $end);
}

@mixin border-radius ($p) {
  -webkit-border-radius: $p;
  -moz-border-radius: $p;
  -o-border-radius: $p;
  -ms-border-radius: $p;
  border-radius: $p;
}

html {
  @include gradient(#eee, #ccc);
  width: 100%;
  min-height: 100%;
}

body {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}

strong {
  font-weight: bold;
}

a {
  &:link {
    color: #009;
  }
  &:active {
    color: #900;
  }
  &:visited {
    color: #33c;
  }
}

#hd {
  font-size: 170%;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  text-align: center;
  padding: 5px;
  color: #fff;
  text-shadow: 1px 1px 2px #336;
  background: desaturate($hi, 10%) url('../bg-light.png') repeat;
  border-bottom: 12px solid $lo;

  p {
    color: #eee;
    font-size: 75%;
    font-weight: normal;
  }

  a:link, a:visited {
    color: #eee;
    background: lighten($lo, 5%);
    text-shadow: 0;
    text-decoration: none;
    padding: 2px 3px;
  }
  a:hover {
    color: #fff;
    background: lighten($lo, 10%);
  }
  #account {
    position: absolute;
    top: 0;
    right: 7px;
    font-family: Arial, Helvetica, sans-serif;

    .logout-button {
      padding: 0.5em;
    }
  }
  #facebook_login_js {
    display: inline;
  }
}

#ft {
  text-align: center;
  font-size: 110%;
  color: #777;
  padding: 1em 0;

  a:link, a:visited {
    color: #77c;
    text-decoration: none;
  }
  a:hover {
    color: #99f;
    text-decoration: underline;
  }
}


.clear { clear: both; }
.line {
  border-top: 1px solid $event-border-color;
}

.spinner {
  float: left;
  position: relative;
  left: 50%;
}

.event {
  list-style-type: none;
  padding: 0.5em 7px;
  line-height: 1.5em;
  background: #fff;

  img {
    padding: 0 5px 0 0;
    margin-bottom: 5px;
    width: 50px;
    float: left;
  }

  h2 {
    font-weight: bold;
    font-size: 150%;
    line-height: 1.1em;
  }
  .content {
    margin-left: 60px;
    &.noimage {
      margin-left: 0;
    }
  }
  .time {
    font-size: 130%;
    color: #666;
    font-style: italic;

    strong {
      color: #111;
      font-style: normal;
    }
  }
  .location {
    font-size: 130%;
    color: #666;
    font-style: italic;

    a {
      font-style: normal;
    }
  }
  .description {
    font-size: 110%;
    padding-top: 0.5em;
    line-height: 1.2em;
    color: #333;
  }
  .actions {
    margin: 1em 0 0 60px;
    padding: 0 0 1em 0;
    font-size: 130%;
    float: right;

    a:link, a:visited {
      text-decoration: none;
      padding: 5px 3px;
      color: #eee;
      border: 1px solid darken($lo, 5%);
      @include gradient(lighten($lo, 10%), $lo);
      @include border-radius(3px);
    }

    a:hover {
      $modifier: 5%;
      color: #fff;
      border: 1px solid lighten($lo, $modifier);
      @include gradient(lighten($lo, $modifier + 10%), lighten($lo, $modifier));
    }
  }
}

/* iPad Resolution */
@media screen and (min-width: 768px) {
  body {
    font-size: 12px;
  }
  .event {
    position: relative;
    line-height: 1.5em;

    h2 {
      margin-right: 120px;
    }
    .content {
      margin-left: 60px;
    }
    .location {
      font-size: 130%;
    }
    .description {
      padding: 0.5em 0;
      font-size: 110%;
    }
    .share, .checkin { float: none }
    .actions {
      position: absolute;
      right: 0;
      top: 0.75em;
      float: static;
      padding: 0;
      margin: 0 0.5em;
      font-size: 110%;
    }
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  body {
    font-size: 11px;
  }
  #hd {
    padding: 0.5em;
  }
  #wrap {
    margin: auto;
    width: 920px;
  }
  .line { display: none }
  .events {
    padding-top: 1em;
  }
  .event {
    border: 0;
    margin: 4px 8px;
    padding: 5px 7px;
    float: left;
    width: 420px;
    border: 1px solid #aaa;
    @include border-radius(5px);

    h2 {
      margin-right: 110px;
      line-height: 1.25em;
      font-size: 140%;
    }
    .location {
      font-size: 130%;
    }
    .time {
      font-size: 130%;
    }
    .description {
      font-size: 110%;
    }
    .actions {
      top: 10px;
      font-size: 110%;
    }
  }
}

@media screen and (min-width: 1350px) {
  #wrap {
    width: 1200px;
  }
  .event {
    width: 360px;
  }
}
