<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no">

    <meta http-equiv="cleartype" content="on">

    <title>Events Near You!</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}/css/style.css" />
  </head>
  <body>
    <div id="hd">
      <h1>Events Near You!</h1>
      <p>At an event? <a href="/login">Check in with Facebook</a>.</p>
    </div>
    <div id="wrap">
      <div id="bd">
        <div class="events">
          <img src="{{ STATIC_URL }}/spinner.gif" alt="Loading" class="spinner" />
        </div>
      </div>
    </div>
    {# required vars: image_url, title, time, location, description #}
    <script type="text/template" id="event_template">
      <div class="event">
        <% if (image_url) { %>
        <img src="<%= image_url %>" width="50" height="50" alt="" />
        <% } else { %>
        <% } %>
        <div class="content <%= (!image_url) ? 'noimage' : 'image' %>">
          <h2><a href="<%= url %>"><%= h(title) %></a></h2>
          <p class="time until">starts in <strong><%= time_until %></strong></p>
          <p class="time">
            from
            <% if (start_date) { %>
              <strong><%= start_date %></strong><% if (end_date) { %> to <strong><%= end_date %></strong><% } %>,
            <% } %>
          <strong><%= start_time %></strong>
          <% if (end_time) { %>
            to <strong><%= end_time %></strong>
          <% } %>
          </p>
          <p class="location">
            at <a href="http://maps.google.com/maps?q=<%= encodeURIComponent(has_coords ? 'loc:' + lat + ',' + lon : location) %>"><%= h(location) %></a></p>
          <p class="description summarize"><%= h(description) %></p>
          <p class="actions">
            <a class="share" href="#share">Share</a>
            <a class="checkin" href="#checkin">Check in</a>
          </p>
          <div class="line clear"></div>
        </div>
      </div>
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.masonry.min.js"></script>
    <script src="{{ STATIC_URL }}/js/application.js"></script>
  </body>
</html>

