<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="cleartype" content="on">

    <title>Events Near You!</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}/css/style.css" />
  </head>
  <body>
    <div id="wrap">
      <div id="hd">
        <h1>Events Near You!</h1>
        <p>Attending an event? <a href="/login">Login</a> with Meetup.</p>
      </div>
      <div id="bd">
        <div class="events">
          <div class="event">
            <img src="{{ STATIC_URL }}/sample.jpg" width="50" height="50" alt="" />
            <h2>Beer Fest</h2>
            <p class="time">4 - 6pm</p>
            <p class="location"><a href="http://maps.google.com/maps?q=1%20Infinite%20Loop,%20Cupertino,%20CA">1 Infinite Loop, Cupertino, CA</a></p>
            <p class="description summarize">
              Some useful description stuff goes here
              Some useful description stuff goes here
              Some useful description stuff goes here
              Some useful description stuff goes here
              Some useful description stuff goes here
            </p>
            <p class="actions">
              <a class="share" href="">Share</a>
              <a class="checkin" href="">Check in</a>
            </p>
          </div>

          <div class="event">
            <img src="{{ STATIC_URL }}/sample.jpg" width="50" height="50" alt="" />
            <h2>Beer Fest</h2>
            <p class="time">4 - 6pm</p>
            <p class="location"><a href="http://maps.google.com/maps?q=1%20Infinite%20Loop,%20Cupertino,%20CA">1 Infinite Loop, Cupertino, CA</a></p>
            <p class="description summarize">
              Some useful description stuff goes here
            </p>
            <p class="actions">
              <a class="share" href="">Share</a>
              <a class="checkin" href="">Check in</a>
            </p>
          </div>



          <div class="event">
            <img src="{{ STATIC_URL }}/sample.jpg" width="50" height="50" alt="" />
            <h2>Beer Fest</h2>
            <p class="time">4 - 6pm</p>
            <p class="location"><a href="http://maps.google.com/maps?q=1%20Infinite%20Loop,%20Cupertino,%20CA">1 Infinite Loop, Cupertino, CA</a></p>
            <p class="description summarize">
              Wednesday June 27th from 7PM to 9PM at Union Square Best Buy for the launch of our new album, "Overexposed," and the Sony Xperia ion, Sony's first LTE Smartphone.
              <br />
              <br />
              We will autograph your CD! Here's how:
              <br />
              <br />
              Beginning at 12:01AM on June 26th, the first 50 people to purchase the new Sony Xperia ion LTE Smartphone at the Union Square Best Buy store with a 2-year activation will receive a free copy of Overexposed deluxe CD, a wristband for an opportunity to get an autograph at the event and access to a VIP viewing area
              <br />
              <br />
              OR
              <br />
              <br />
              Beginning at 12:01AM on June 26th, the first 300 people to purchase Overexposed Deluxe CD and check out Best Buy's upgrade checker will receive a wristband for an opportunity to get an autograph at the event at the Union Square Best Buy!
            </p>
            <p class="actions">
              <a class="share" href="">Share</a>
              <a class="checkin" href="">Check in</a>
            </p>
          </div>
          <div class="event">
            <img src="{{ STATIC_URL }}/sample.jpg" width="50" height="50" alt="" />
            <h2>Beer Fest</h2>
            <p class="time">4 - 6pm</p>
            <p class="location"><a href="http://maps.google.com/maps?q=1%20Infinite%20Loop,%20Cupertino,%20CA">1 Infinite Loop, Cupertino, CA</a></p>
            <p class="description summarize">
              Some useful description stuff goes here
            </p>
            <p class="actions">
              <a class="share" href="">Share</a>
              <a class="checkin" href="">Check in</a>
            </p>
          </div>
          <div class="event">
            <img src="{{ STATIC_URL }}/sample.jpg" width="50" height="50" alt="" />
            <h2>Beer Fest</h2>
            <p class="time">4 - 6pm</p>
            <p class="location"><a href="http://maps.google.com/maps?q=1%20Infinite%20Loop,%20Cupertino,%20CA">1 Infinite Loop, Cupertino, CA</a></p>
            <p class="description summarize">
              Some useful description stuff goes here
            </p>
            <p class="actions">
              <a class="share" href="">Share</a>
              <a class="checkin" href="">Check in</a>
            </p>
          </div>
        </div>
        <hr class="eol" />
      </div>
    </div>
    {# required vars: image_url, title, time, location, description #}
    <script type="text/template" id="event_template">
      <div class="event">
        <img src="{{ STATIC_URL }}/<%= image_url %>" width="50" height="50" alt="" />
        <h2><%= title %></h2>
        <p class="time"><%= time %></p>
        <p class="location"><a href="http://maps.google.com/maps?q=<%= encodeURIComponent(location) %>"><%= location %></a></p>
        <p class="description summarize"><%= description %></p>
        <p class="actions">
          <a class="share" href="#share">Share</a>
          <a class="checkin" href="#checkin">Check in</a>
        </p>
      </div>
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.masonry.min.js"></script>
    <script src="{{ STATIC_URL }}/js/application.js"></script>
  </body>
</html>

